<%- include layouts/header.ejs %>

<div class="container">
	<h1><%= tagline %></h1>
	<h2>Welcome <%= userAuth.username %></h2>

	<br>
	<a href="/add" class="btn btn-primary">Add Student</a>
	<br>
	<br>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Hobby</th>
				<th>Photo</th>
				<th colspan="3">Options</th>
			</tr>
		</thead>

		<tbody>
			<% students.forEach(function (student) { %>
				<tr>
					<td><%= student.name %></td>
					<td><%= student.age %></td>
					<td><%= student.hobby %></td>
					<td><img src="/uploads/<%= student.photo %>" width="100px" height="100px" class="img img-responsive	"></td>
					<td>
						<a href="/edit/student/<%= student.id %>" class="btn btn-success">EDIT</a>
					</td>
					<td>
						<a href="/edit/photo/<%= student.id %>" class="btn btn-primary">EDIT PHOTO</a>
					</td>
					<td>
						<a href="/delete/student/<%= student.id %>" class="btn btn-danger">DELETE</a>
					</td>
				</tr>
			<% }); %>
		</tbody>
	</table>
</div>

<%- include layouts/footer.ejs %>
